In [28]:
import pandas as pd
import numpy as np

# Load the data
df = pd.read_csv('dataset.csv')

In [32]:
# Handling Missing Values

# Check if each row has missing values
missing_values_rows = df.isnull().any(axis=1)

# Display rows with missing values
df[missing_values_rows].index

Index([], dtype='int64')

In [3]:
# Data Transformation
# change columns label
new_columns_label = ['q1', 'q2', 'q3', 'q4', 'q5a', 'q5b', 'q5c', 'q5d', 'q5e', 'q5f', 'q5g', 'q5h', 'q5i', 'q5j', 'q6a', 'q6b', 'q6c', 'q6d', 'q6e', 'q6f', 'q6g', 'q6h', 'q7', 'q8', 'q9', 'q10', 'q11', 'q12', 'q13', 'Total']
df.columns = new_columns_label
df.head()

,q1,q2,q3,q4,q5a,q5b,q5c,q5d,q5e,q5f,...,q6g,q6h,q7,q8,q9,q10,q11,q12,q13,Total
0,1,I have used OpenRice.,I have commented restaurants.,"Restaurant Information (e.g. Introduction, Add...","Restaurant Information (e.g. Introduction, Add...",Extremely Important,Extremely Important,Very Important,Very Important,Very Important,...,Strongly Agree,Agree,Female,25 - 34,Bachelor's degree,Employed Part-Time,Very Satisfied,Satisfied,肥姐小食店,79
1,2,I have used OpenRice.,I have commented restaurants.,"Restaurant Information (e.g. Introduction, Add...",Comments from Other Users→Appealing images→Det...,Slightly Important,Not Important at All,Not Important at All,Very Important,Slightly Important,...,Strongly Disagree,Normal,Female,45 - 54,Primary school,Seeking opportunities,Satisfied,Normal,裕興咖啡,46
2,3,I have used OpenRice.,I have commented restaurants.,"Restaurant Information (e.g. Introduction, Add...",(空)→Detailed Menu→Pricing→Restaurant Informati...,Very Important,Very Important,Moderately Important,Very Important,Extremely Important,...,Strongly Agree,Strongly Agree,Female,25 - 34,Bachelor's degree,Employed Part-Time,Normal,Satisfied,瑞記咖啡,83
3,4,I have used OpenRice.,I have commented restaurants.,Pricing┋Appealing images┋Detailed Menu,Detailed Menu→Appealing images→Restaurant Info...,Very Important,Very Important,Very Important,Extremely Important,Extremely Important,...,Agree,Agree,Male,55 - 64,Primary school,Employed Full-Time,Very Unsatisfied,Satisfied,靠得住,80
4,5,I have used OpenRice.,I have commented restaurants.,"Restaurant Information (e.g. Introduction, Add...",Pricing→Appealing images→Discounts or Promotio...,Very Important,Very Important,Very Important,Very Important,Extremely Important,...,Agree,Agree,Female,45 - 54,Primary school,Employed Part-Time,Satisfied,Very Satisfied,利強記北角雞蛋仔,85

In [4]:
# Data Transformation
# change rows label
pd.set_option('future.no_silent_downcasting', True)
df['q2'] = df['q2'].replace({'I have used OpenRice.': 1, 'I have NOT used OpenRice.': 0}).infer_objects(copy=False)
df['q3'] = df['q3'].replace({'I have commented restaurants.': 1, 'I have NOT commented restaurants.': 0}).infer_objects(copy=False)

In [5]:
# Splitting the data into a list using the '┋' delimiter
df['q4'] = df['q4'].str.split('┋')
# Splitting the data into a list using the '┋' delimiter
df['q5a'] = df['q5a'].str.split('→')
df['q5a'] = df['q5a'].apply(lambda lst: [item for item in lst if item != '(空)'])

In [6]:
df['q5a']

0      [Restaurant Information (e.g. Introduction, Ad...
1      [Comments from Other Users, Appealing images, ...
2      [Detailed Menu, Pricing, Restaurant Informatio...
3      [Detailed Menu, Appealing images, Restaurant I...
4      [Pricing, Appealing images, Discounts or Promo...
                             ...
197    [Pricing, Restaurant Information (e.g. Introdu...
198    [Comments from Other Users, Detailed Menu, App...
199    [Restaurant Information (e.g. Introduction, Ad...
200    [Restaurant Information (e.g. Introduction, Ad...
201    [Restaurant Information (e.g. Introduction, Ad...
Name: q5a, Length: 202, dtype: object

In [7]:
print(df['q5b'].unique())

['Extremely Important' 'Slightly Important' 'Very Important'
 'Moderately Important\xa0\xa0' 'Not Important at All']

In [8]:
mapping = {'Not Important at All': 1, 'Slightly Important': 2, 'Moderately Important\xa0\xa0': 3,
           'Very Important': 4, 'Extremely Important': 5}
df['q5b'] = df['q5b'].map(mapping)
df['q5b'] = df['q5b'].astype(int)
df['q5c'] = df['q5c'].map(mapping)
df['q5c'] = df['q5c'].astype(int)
df['q5d'] = df['q5d'].map(mapping)
df['q5d'] = df['q5d'].astype(int)
df['q5e'] = df['q5e'].map(mapping)
df['q5e'] = df['q5e'].astype(int)
df['q5f'] = df['q5f'].map(mapping)
df['q5f'] = df['q5f'].astype(int)
df['q5g'] = df['q5g'].map(mapping)
df['q5g'] = df['q5g'].astype(int)
df['q5h'] = df['q5h'].map(mapping)
df['q5h'] = df['q5h'].astype(int)
df['q5i'] = df['q5i'].map(mapping)
df['q5i'] = df['q5i'].astype(int)
df['q5j'] = df['q5j'].map(mapping)
df['q5j'] = df['q5j'].astype(int)

In [9]:
print(df['q6a'].unique())

['Normal' 'Agree' 'Strongly Agree' 'Disagree' 'Strongly Disagree']

In [10]:
mapping = {'Strongly Disagree': 1, 'Disagree': 2, 'Normal': 3, 'Agree': 4, 'Strongly Agree': 5}
df['q6a'] = df['q6a'].map(mapping)
df['q6a'] = df['q6a'].astype(int)
df['q6c'] = df['q6c'].map(mapping)
df['q6c'] = df['q6c'].astype(int)
df['q6d'] = df['q6d'].map(mapping)
df['q6d'] = df['q6d'].astype(int)
df['q6f'] = df['q6f'].map(mapping)
df['q6f'] = df['q6f'].astype(int)
# Reverse part
mapping = {'Strongly Disagree': 5, 'Disagree': 4, 'Normal': 3, 'Agree': 2, 'Strongly Agree': 1}
df['q6b'] = df['q6b'].map(mapping)
df['q6b'] = df['q6b'].astype(int)
df['q6e'] = df['q6e'].map(mapping)
df['q6e'] = df['q6e'].astype(int)
df['q6g'] = df['q6g'].map(mapping)
df['q6g'] = df['q6g'].astype(int)
df['q6h'] = df['q6h'].map(mapping)
df['q6h'] = df['q6h'].astype(int)

In [11]:
df['emotional_total'] = df['q6a'] + df['q6c'] + df['q6d'] + df['q6f'] 
df['stable_total'] = df['q6b'] + df['q6e'] + df['q6g'] + df['q6h']
df['personality'] = df.apply(lambda row: 'emotional' if row['emotional_total'] > row['stable_total'] else 'stable', axis=1)

In [12]:
print(df['q7'].unique())

['Female' 'Male']

In [13]:
mapping = {'Male': 1, 'Female': 0}
df['q7'] = df['q7'].map(mapping)
df['q7'] = df['q7'].astype(int)

In [14]:
print(df['q8'].unique())

['25 - 34' '45 - 54' '55 - 64' '35 - 44' '0 - 14' '15 - 24' 'Above 64']

In [15]:
mapping = {'0 - 14': 1, '0 - 18':1, '15 - 24': 2, '28 - 24':3, '25 - 34': 3, '35 - 44': 4, '45 - 54': 5, '55 - 64': 6, 'Above 64': 7}
df['q8'] = df['q8'].map(mapping)

In [16]:
print(df['q9'].unique())

["Bachelor's degree" 'Primary school'
 'Doctoral degree (Ph.D., Ed.D., etc.)' 'Secondary school'
 'Associate degree / Diploma' "Master's degree"]

In [17]:
mapping = {'Primary school': 1, 'Secondary school': 2, 'Associate degree / Diploma': 3, "Bachelor's degree": 4, "Master's degree": 5, 'Doctoral degree (Ph.D., Ed.D., etc.)': 6}
df['q9'] = df['q9'].map(mapping)

In [18]:
print(df['q10'].unique())

['Employed Part-Time' 'Seeking opportunities' 'Employed Full-Time'
 'Student' 'Retired']

In [19]:
mapping = {'Employed Full-Time': 1, 'Employed Part-Time': 2, 'Seeking opportunities': 3, "Retired": 4, "Student": 5}
df['q10'] = df['q10'].map(mapping)

In [20]:
print(df['q11'].unique())

['Very Satisfied' 'Satisfied' 'Normal' 'Very Unsatisfied' 'Unsatisfied']

In [21]:
mapping = {'Very Unsatisfied': 1, 'Unsatisfied': 2, 'Normal': 3, "Satisfied": 4, "Very Satisfied": 5}
df['q11'] = df['q11'].map(mapping)
df['q12'] = df['q12'].map(mapping)

In [22]:
df.head()

,q1,q2,q3,q4,q5a,q5b,q5c,q5d,q5e,q5f,...,q8,q9,q10,q11,q12,q13,Total,emotional_total,stable_total,personality
0,1,1,1,"[Restaurant Information (e.g. Introduction, Ad...","[Restaurant Information (e.g. Introduction, Ad...",5,5,4,4,4,...,3,4,2,5,4,肥姐小食店,79,14,6,emotional
1,2,1,1,"[Restaurant Information (e.g. Introduction, Ad...","[Comments from Other Users, Appealing images, ...",2,1,1,4,2,...,5,1,3,4,3,裕興咖啡,46,10,16,stable
2,3,1,1,"[Restaurant Information (e.g. Introduction, Ad...","[Detailed Menu, Pricing, Restaurant Informatio...",4,4,3,4,5,...,3,4,2,3,4,瑞記咖啡,83,17,5,emotional
3,4,1,1,"[Pricing, Appealing images, Detailed Menu]","[Detailed Menu, Appealing images, Restaurant I...",4,4,4,5,5,...,6,1,1,1,4,靠得住,80,18,7,emotional
4,5,1,1,"[Restaurant Information (e.g. Introduction, Ad...","[Pricing, Appealing images, Discounts or Promo...",4,4,4,4,5,...,5,1,2,4,5,利強記北角雞蛋仔,85,18,6,emotional

In [23]:
# Save the processed data to a new CSV file
df.to_csv('processed_dataset.csv', index=False)

In [24]:
import pandas as pd
import numpy as np

# 读取数据
df1 = pd.read_csv('processed_dataset.csv')
df2 = pd.read_excel('data for WebScraping.xlsx')

# 合并两个 DataFrame
merged_df = pd.merge(df1, df2, left_on='q13', right_on='q13', how='left')

duplicates = merged_df.duplicated()
merged_df[duplicates]

merged_df.drop_duplicates(inplace=True)

# 保存合并后的 DataFrame
merged_df.to_csv('merged_dataset.csv', index=False)